@import url(./shared/vendor/normalize.css);
@import url(./shared/vendor/fonts.css);

* {
  margin: 0;
  padding: 0;
}

html {
  font-family: 'SegoeUI', Arial, sans-serif;

  --color-white: #fff;
  --color-black: #1a1a1a;
  --color-red: #ff3044;
  --color-blue: #2688eb;
  --color-garkGrey: #949494;
  --color-lightGrey: #efefef;

  --size-text1: 10vw;
  --size-text2: 6vw;
  --size-text3: 4vw;
  --size-text4: 3vw;

  --margin-yellow: 2vw;
  --margin-red: 4vw;
  --margin-blue: 20vw;
}

button {
  background-color: transparent;
  border: none;

  transition: opacity 0.3s ease-in-out;
}

button:hover {
  opacity: 0.7;
  cursor: pointer;
}

li {
  list-style-type: none;
}
